{% extends "main/header.html" %}

{% block content %}

<section id='home_bar'>
<div>
    <!-- Flickity HTML init -->
    <div class="carousel js-flickity" data-flickity-options='{"wrapAround": true }' data-flickity='{ "autoPlay": true} '>
        <!-- images from unsplash.com -->
        <div class="carousel-cell">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" alt="orange tree" />
        </div>
        <div class="carousel-cell">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" alt="submerged" />
        </div>
        <div class="carousel-cell">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" alt="look-out" />
        </div>
        <div class="carousel-cell">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" alt="One World Trade" />
        </div>
        <div class="carousel-cell">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" alt="drizzle" />
        </div>
        <div class="carousel-cell">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" alt="cat nose" />
        </div>
        <div class="carousel-cell">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/contrail.jpg" alt="contrail" />
        </div>
        <div class="carousel-cell">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/golden-hour.jpg" alt="golden hour" />
        </div>
        <div class="carousel-cell">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/flight-formation.jpg" alt="flight formation" />
        </div>
    </div>
    <!--<div id="splash-img" class="hero fullscreen hero-img parallax-img" style="background-image: url('../../static/main/img/human-abacus.jpeg');">
      <div class="hero-body">
        <div class="content u-text-center">
          <h3 class="white title faded"><i></i></h3>
        </div>
      </div>
    </div>-->
</div>
</section>

<br>
<section class="section padded" id="about_us" style="background-color: #eae7e0; margin-bottom:-2rem;">
    <div class="content" style="max-width: 90em; background-color: #fff;" >
      <div class="">
        <br>
          <div class="row level">
            <div class="col-7">
              <div class="content">
              <h3 class="">Build lifelong skills in your children <br>@UCMAS GK1, Delhi</h3>
            <div class="row">

              <p class="font-alt font-semibold" style="color:#000;  letter-spacing: 0rem;">
                UCMAS is a child development program based on <b>Visual Arithmetic and Abacus</b> that boosts brainpower in children aged 5-13 years. Along with strengthening math skills, the UCMAS approach promotes whole brain development and establishes foundational building blocks like memory, concentration, creativity and problem solving – core skills that inspire greater confidence and success in all subject areas and in life.
                <br><br>
                UCMAS Abacus Academy equips them with the skills they need to improve overall academic achievement and to confidently meet life’s challenges and achieve greatness.
                <br><br>
                Our exciting classes and energetic instructors ensure that our students have fun as they learn. Since 1993, UCMAS has helped over one million children around the world, discover the Genius within.
              </p>
        </div>
        </div>
            </div>
            <div class="col-4">
              <div class="frame">
                <div class="frame__header">
                    <p class="title m-0">References</p>
                </div>
                <div class="frame__body">
                    <ul class="menu">
                        <li class="divider" data-label="UCMAS websites"></li>
                        <li class="menu-item">
                          <div class="menu-addon">
                              <span class="icon">
                                  <i class="fa fa-globe"></i>
                              </span>
                          </div>
                            <a href="https://ucmas.com/">UCMAS Global</a>
                        </li>
                        <li class="menu-item">
                          <div class="menu-addon">
                              <span class="icon">
                                  <i class="fa fa-globe"></i>
                              </span>
                          </div>
                            <a href="http://ucmas.in/">UCMAS India</a>
                        </li>
                    </ul>
                    <ul class="menu">
                        <li class="divider" data-label="Scientific research"></li>
                        <li class="menu-item">
                            <div class="menu-addon">
                                <span class="icon">
                                    <i class="fa fa-wrapper fa-paperclip small"></i>
                                </span>
                            </div>
                            <a href="http://ucmas.in/wp-content/uploads/bsk-pdf-manager/5_RESEARCH_DONE_ON_STUDENTS_OF_MENTAL_ABACUS.PDF">Research synopsis</a>
                        </li>

                        <li class="menu-item">
                            <div class="menu-addon">
                                <span class="icon">
                                    <i class="fa fa-wrapper fa-paperclip small"></i>
                                </span>
                            </div>
                            <a href="http://ucmas.in/wp-content/uploads/bsk-pdf-manager/2_BROOKS_ET.AL._2017-COGNITIVE_SCIENCE.PDF">The Role of Gesture in Supporting Mental
    Representations: The Case of Mental Abacus Arithmetic</a>
                        </li>
                        <li class="menu-item">
                            <div class="menu-addon">
                                <span class="icon">
                                    <i class="fa fa-wrapper fa-paperclip small"></i>
                                </span>
                            </div>
                            <a href="http://ucmas.in/wp-content/uploads/bsk-pdf-manager/3_EFFECTS_OF_ABACUS_TRAINING_ON_THE_INTELLIGENCE_OF_SUDANESE_CHILDREN.PDF">Effects of Abacus training
    on the intelligence of Sudanese children</a>
                        </li>
                        <li class="menu-item">
                            <div class="menu-addon">
                                <span class="icon">
                                    <i class="fa fa-wrapper fa-paperclip small"></i>
                                </span>
                            </div>
                            <a href="http://ucmas.in/wp-content/uploads/bsk-pdf-manager/4_MENTAL_ABACUS_RESEARCH_PROGRAM.PDF">Mental Abacus research program</a>
                        </li>
                        <li class="menu-item">
                            <div class="menu-addon">
                                <span class="icon">
                                    <i class="fa fa-wrapper fa-paperclip small"></i>
                                </span>
                            </div>
                            <a href="http://ucmas.in/wp-content/uploads/bsk-pdf-manager/7_UCMAS_HARVARDSTANFORDUCSD_RESEARCH.PDF">UCMAS Harvard-Stanford-UCSD Research</a>
                        </li>
                    </ul>
                </div>
                <div class="frame-footer">
                    <!-- Insert some controls here -->
                </div>
            </div>
            </div>
          </div>
      </div>
    </div>
</section>

<section id="recog" class="section" style="background-color: #eae7e0; margin-bottom:-3rem;">
    <div class="content" style="max-width:90em; background-color: #fff;">
      <div class="space xlarge"></div>
      <h6 class="black u-text-center">Why Us at UCMAS GK1?</h6>
      <div class="divider" style=""></div>
        <div class="row">
          <div class="col-4">
          </div>
            <div class="col-8">
              <p class="content font-semibold" style="color:#000;  letter-spacing: 0rem;">
                The UCMAS GK1 center is one of the oldest, most renowned UCMAS education centers in India, not just New Delhi. We have consistently imparted courses with great quality and care, and have been credited with <span class="font-bold">the Best Delhi Centre Award </span>multiple times since our beginnings way back in 2003.
                <br><br>
                Having personally observed the merits of this program in <span class="font-bold">over 1300 children that have passed through UCMAS GK1 Delhi</span>, it is our strong belief that creativity, imagniation, observation and logic are honable skillsets through the Abacus.
                <br><br>
                <a href="#contact_us">Hit us up</a> for a trial class today, and watch your kids turn into mini-computers! 😄
              </p>
            </div>
        </div>
        <div class="row">
            {% for rec in recognition %}
                <div class="col-4">
                    <div class="card u-flex u-flex-column h-100">
                        <div class="card-container">
                            <div class="card-image" style="background-image:
                                {% if rec.rec_img %}
                                  url({{ rec.rec_img.url }})
                                {% endif %}">
                            </div>
                            <div class="title-container">
                                <p class="title">{{rec.rec_title}}</p><span class="subtitle">{{rec.rec_subtitle}}</span>
                            </div>
                        </div>
                        <div class="content">
                            <p>{{rec.rec_content}}</p>
                        </div>
                        <div class="action-bar u-center">
                            <!--<button class="btn">SHARE</button>-->
                        </div>
                        <div class="card-footer u-text-center">{{rec.rec_type}}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<!--<section id="updates" class="section panel">
    <div class="placeholder">
        <div class="placeholder-icon">
            <span class="icon">
                <i class="fa fa-wrapper fa-coffee x-large"></i>
            </span>
        </div>
        <h6 class="placeholder-title">It's Facebook's fault really.. 🔜</h6>
        <div class="placeholder-subtitle">Come back in a few hours or press the refresh button.</div>

        <div class="placeholder-commands u-center">
            <div class="btn-container">
                <a href="#">
                    <button class="btn-primary">Refresh</button>
                </a>
            </div>
            <div class="btn-container">
                <a href="#about_us">
                    <button>Home</button>
                </a>
            </div>
        </div>
    </div>
</section>-->
{% endblock %}
