<div class="header header-fixed unselectable header-animated">
    <div class="header-brand">
        <div class="nav-item">
          <div id="logoContainer" class= "level-item">
              <img id="logo" src="{% static 'main/img/logo.jpg' %}"/>
          </div>
        </div>
        <div class="nav-item nav-btn" id="header-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="header-nav" id="header-menu">
        <div class="nav-left">
            <div class="nav-item text-center">
                <a href="/#about_us">About Us</a>
            </div>
            <div class="nav-item text-center">
                <a href="/#recog">Recognition</a>
            </div>
            <div class="nav-item text-center">
                <a href="/#updates">New batches & Updates</a>
            </div>
            <div class="nav-item text-center">
                <a href="/#contact_us">Contact Us</a>
            </div>
        </div>

        <div class="nav-right">
            <div class="nav-item text-center">
                <a href="register/">Register Now</a>
            </div>
        </div>
    </div>
</div>
